<h1>Codeplay</h1>
<h3>Boas vindas ao sistema de gestão de cursos e aulas</h3>


<%= link_to 'Cursos', admin_courses_path %>
<h3> Cursos Disponíveis</h3>
<% @courses.each do |course| %>
    <%= link_to course.name, course %>
    <p><%= course.description %></p>
    <p><%= number_to_currency course.price %></p>
<% end %>


<%= link_to 'Professores', instructors_path %>
<%= link_to 'Cadastrar um Professor', new_instructor_path %>
