  <h1><%= @teacher.name %></h1>
  <h3>Detalhes</h3>
  <p><%= @teacher.bio %></p>
  <p><%= @teacher.email %></p>
  <p><%= image_tag @teacher.avatar %></p>
  <h2><%= link_to "Editar", edit_teacher_path(@teacher) %></h2>
