<% if @courses.empty? %>
<p>Nenhum curso disponível</p>
<% end %>


<% @courses.each do |course| %>
  <h1><%= link_to course.name, admin_course_path(course) %></h1>
  <p><%= course.description %></p>
  <p><%= number_to_currency course.price %></p>
  <p><%= link_to 'Apagar', course_path(course), method: :delete %></p>
  <p><%= course.instructor.name %></p>
<% end %>

<%= link_to 'Registrar um Curso', new_admin_course_path %>
<%= link_to 'Voltar', root_path %>
